ADMIN_PASSWORD=
ADMIN_USERNAME=
DATABASE_PATH=
GEMINI_API_KEY=
LOG_FILE_PATH=
LOG_LEVEL=
TELEGRAM_API_HASH=
TELEGRAM_API_ID=
TELEGRAM_BOT_TOKEN=
TELEGRAM_SESSION=
TELEGRAM_SESSION_STRING=
TELEGRAM_USER_PHONE=
TRANSCRIBER_BOT_USERNAME=
TRANSCRIBER_POLL_INTERVAL_MS=
TRANSCRIBER_TIMEOUT_SECONDS=